.about {
    height: 100vh;
    width: 1440px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 2rem 1rem;

    @include breakpoint-down(small) {
        width: 100%;
        height: 100%;
    }

    .section-header__line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
           font-size: 2rem;
           font-weight: 700;
        }
        .line {
            width: 120px;
            height: 4px;
            background-color: #2a61b3;
        }
    }

    .about-me-text {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    }

    .skills-certification {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .skills {
            width: 55%;
            border: 2px solid green;

            .skill-grid {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .skill {
                    width: 100px;
                }
            }
        }

    }
}